<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>To: <%= @company.name %>.</h1>
    <p>
      Car: <%= @inquiry.car_make %> <%= @inquiry.car_model %>, <%= @inquiry.car_year %>.<br>
    </p>
    <p>
      <%= @inquiry.message %><br>
    </p>
    <p>Thank you,</p>
    <p><%= @inquiry.first_name %> <%= @inquiry.last_name %></p>
  </body>
</html>
