<div class="container center">
  <br  />
<% if current_admin %>
<%= link_to "New Company", new_company_path, class: "btn waves-effect waves-light lime darken-1" %>
<% end %>
</div>  <br  />


<div class="container center">
<% @companies.each do |f| %>
      <div class="row">
        <div class="col s12">
          <div class="card">
            <div class="card-image">

              <img src="<%= f.image_url %>">

            </div>
            <div class="card-content">
              <h4 class="header"><%= f.name %></h4>
              <p class="card-title"><%= f.address %></p>
              <p class="card-title"><%= f.city %></p>
              <p class="card-title"><%= f.phone %></p>

              <% if current_admin %>
    <%= button_to "Edit Company", edit_company_path(@company), method: :get, :class=>"btn waves-effect waves-light lime darken-1" %>OR
    <%= button_to "Delete Company", delete_company_path(@company), method: :delete, :class=>"btn waves-effect waves-light lime darken-1" %>
<% end %>

            </div>
            <div class="card-action default-primary-color">
              <%= link_to "All Services", company_services_path(f) %>
            </div>
          </div>
        </div>
      </div><% end %></div>
