<ul>
  <li><%= @company.name %></li>
  <li><%= @company.city %></li>
  <li><%= @company.phone %></li>
  <li><%= link_to "All Services", company_services_path %></li>
</ul>
<%= link_to "Edit Company", edit_company_path, method: :get %>
<%= link_to "Delete Company", delete_company_path, method: :delete %>
