<!DOCTYPE html>
<html>
  <head>
    <title>WTR</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  </head>

  <body>

      <nav>

        <div class="nav-wrapper">
          <a href="/" class="brand-logo">HOME</a>
          <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a href="#A">How it works</a></li>
            <li><a href='/inquiries/new'>Get a quote</a></li>
            <li><a href='/companies'>All shops</a></li>
            <% if current_admin %>
  <li><%= link_to "Logout", "/logout" %></li>

<% end %>
          </ul>
        </div>

      </nav>

    <% flash.each do |name, msg| %>
      <div><%= msg %></div>
    <% end %>
    <%= yield %>
  </body>
</html>
